<mat-toolbar color="primary">
  <span>Welcome to GrogBase</span>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item routerLink="/">Home</a>
        <a mat-list-item routerLink="/wines">Wines</a>
        <a mat-list-item routerLink="/wineries">Wineries</a>
        <a mat-list-item routerLink="/admin">Admin</a>
        <a mat-list-item routerLink="/contact">Contact</a>
        <a mat-list-item routerLink="/about" id="About">About</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
