<mat-toolbar (click)="toggleSidenav()">
  <img src="../assets/grogbase_logo.png">
  <span>Welcome to GrogBase</span>
</mat-toolbar>
<mat-sidenav-container class="container">
    <mat-sidenav mode="side" #sidenav mode="side" [opened]="isSidenavOpened" opened class="sidenav">
      <mat-nav-list>
        <a mat-list-item [routerLink]="link.route" *ngFor="let link of links">
          <mat-icon>{{link.icon}}</mat-icon>{{link.label}}
        </a>
        <div class="bottom-links">
          <button *ngIf="showSignout" mat-list-item (click)="signout()" Class="bottom">Sign Out</button>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <div class="scrollable-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>
