<h2 class="title">Local Wineries</h2>
<div class="winery">
  <app-winery
    *ngFor="let winery of Localwiener"
    [winery]="winery"
  ></app-winery>
</div>
<h2 class="title">Top Wines</h2>
<div class="container">
  <mat-card class="Wines" *ngFor="let item of TopWine">
    <mat-card-header>
      <mat-card-title>{{ item.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ item.type }}</p>
      <p>{{ item.year }}</p>
      <p>{{ item.price }}</p>
      <p>{{ item.description}}</p>
    </mat-card-content>
  </mat-card>
</div>

