<h2 class="title">Local Wineries</h2>
<div class="container">
  <mat-card *ngFor="let item of Localwiener">
    <mat-card-header>
      <mat-card-title>{{ item.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ item.established }}</p>
      <p>{{ item.location }}</p>
      <p>{{ item.country }}</p>
      <p>{{ item.website }}</p>
      <p>{{ item.description }}</p>
    </mat-card-content>
  </mat-card>
</div>
<h2 class="title">Top Wines</h2>
<div class="container">
  <mat-card class="Wines" *ngFor="let item of TopWine">
    <mat-card-header>
      <mat-card-title>{{ item.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ item.type }}</p>
      <p>{{ item.year }}</p>
      <p>{{ item.price }}</p>
      <p>{{ item.description}}</p>
    </mat-card-content>
  </mat-card>
</div>

