<mat-toolbar color="primary">
    <span>Welcome to GrogBase</span>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item routerLink="/">Home</a>
        <a mat-list-item routerLink="/about">Wines</a>
        <a mat-list-item routerLink="/Wineries">Wineries</a>
        <a mat-list-item routerLink="/Admin" id="Contact">Admin</a>
        <a mat-list-item routerLink="/Contact" id="Contact">Contact</a>
        <a mat-list-item routerLink="/About" id="About">About</a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
        <div class="container">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Winerie:Name</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>This is a basic Angular Material homepage template.</p>
              </mat-card-content>
            </mat-card>
          </div>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
