<mat-tab-group>
  <mat-tab label="Wineries">
    <h2 class="title">Wineries</h2>
    <app-winery-table>
    </app-winery-table>
  </mat-tab>
  <mat-tab label="Wines">
    <h2 class="title">Wines</h2>
    <div class="filterList">
      <div class="grow">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Search name">
      </mat-form-field>
      </div>
      <app-wine-type (onChange)="wineTypeSelected($event)">
      </app-wine-type>
    </div>
    <app-wine-table #wineTable>
    </app-wine-table>
  </mat-tab>
</mat-tab-group>
