.list
  display: flex
  flex-direction: row
  justify-content: space-around
  flex-wrap: wrap
  gap: 1rem

.filterList
  padding-left: 1rem
  padding-right: 1rem
  display: flex
  gap: 1rem

.header-bar
  display: flex
  align-items: center

.header-bar button
  width: fit-content


.header-bar h2
  flex-grow: 1

.grow
  flex-grow: 1
