/* You can add global styles to this file, and also import other style files */
body
  margin: 0
  padding: 0

.title
  font-size: 2rem
  font-weight: 500
  margin-left: 2vw
  margin-top: 2vh
  margin-bottom: 0vh

.title2
    font-weight: 500
    margin-left: 2vw
    margin-bottom: 0vh

.Wines
   display: grid
   grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr))
   grid-gap: 20px
   padding: 1rem

.scrollable-content
  height: calc(100vh - 64px)
  overflow-y: auto

.container
  display: flex
  height: calc(100vh - 64px)

.bottom-links
  margin-top: 48vh

.mat-list-item-content
  display: flex
  justify-content: center
  align-items: center


::-webkit-scrollbar
  width: 8px

::-webkit-scrollbar-track
  background-color: transparent

::-webkit-scrollbar-thumb
  background-color: #888
  border-radius: 4px

::-webkit-scrollbar-thumb:hover
  background-color: #555

.snack-error
  background: red
