<mat-card class="Wines">
    <img mat-card-lg-image src="../assets/wine_bottle.png" alt="credit: Markus Spiske">
    <mat-card-header>
        <mat-card-title>{{ wine.name }}</mat-card-title>
    </mat-card-header>
    <mat-chip>Type:{{ wine.type }}</mat-chip>
    <mat-chip>From:{{ wine.year }}</mat-chip>
    <mat-chip>Price${{ wine.price }}</mat-chip>
    <mat-card-content>
        <p>{{ wine.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button (click)="reviewMe()">Write a review</button>
      <button mat-stroked-button (click)="viewReviews()">See Reviews</button>
    </mat-card-actions>
</mat-card>
