<mat-card class="Wines">
    <img mat-card-lg-image src="../assets/wine_bottle.png" alt="credit: Markus Spiske">
    <mat-card-header>
        <mat-card-title>{{ wine.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-chip-list>
          <mat-chip color="primary">
            <mat-chip-avatar>
              <mat-icon>wine_bar</mat-icon>
            </mat-chip-avatar>
            {{ wine.type }}
          </mat-chip>
          <mat-chip>
            <mat-chip-avatar>
              <mat-icon>today</mat-icon>
            </mat-chip-avatar>
            {{ wine.year }}
          </mat-chip>
          <mat-chip>
            <mat-chip-avatar>
              <mat-icon>payments</mat-icon>
            </mat-chip-avatar>
            ${{ wine.price }}
          </mat-chip>
        </mat-chip-list>
        <p>{{ wine.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button (click)="reviewMe()">Write a review</button>
      <button mat-stroked-button (click)="viewReviews()">See Reviews</button>
    </mat-card-actions>
</mat-card>
